body{
	background-color: #000000;
	width:100%;
}

.Search{
	float:right;
}
input{
  width:200px;
  height:20px;
  margin-top:15px;
  margin-bottom:5px;
  font-size:18px;
  border: 1px solid #dee7ec;
  color: #202020;float:left;
}
.btn{
	
 	background-color: rgba(0, 0, 0, 0.3);
  	transition: all 0.5s;
	float:right;
	font-size: 20px;
	color: #00CC66;
	margin-left:5px;
	border-position:relative;

	}
.btn:hover{
	background-color: #5E70E2;
	opacity:0.6;
}

.topnav {
  background-color: #000000;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #4c8bf5;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  color: #4c8bf5;
}
.topnav a.active:hover{
	background-color: #4CAF50;
	color:#000000;
}
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
html,body {
	margin: 0;
	padding: 0;
}

.slider {
	width: 100%;
	margin: 0em auto;
	transform: 2s;
	
}

.slider-wrapper {
	width: 100%;
	height: 600px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 3s linear;
	transition-delay: 2s;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color:#FFFFFF;
  background-color: #000000;
  opacity:0.85;
}
.centered p{
	font-size: 50px;
}

marquee{
	color: #4c8bf5;
}
.Companies h1{
	padding-top: 0px;
	font-size: 60px;
	background-color: #000000;
	color:#4c8bf5;
	text-align: center;
}
.main-img img{
	width:100%;
	background-color: #000000;
}
.phone-img img{
	width:100%;
}

.phones {
	border-bottom: 5px solid #FFFFFF;
	float: right;
	width:100%;
	color:#FFFFFF;
	font-size: 30px;
	text-align: center;
	background-image: url("back2.jpg");
	background-size: cover;
	margin-left: 0px auto;
}

.phones p{
	color:#4c8bf5;
	font-size: 30px;
	text-align: center;
}
.phone-name h2{
	background-image: url("back2.jpg");
	background-size: cover;
	color:#FFFFFF;
	font-size: 50px;
	text-align: center;
}
.phone-price p{
	text-align:center; 
	font-size:25px;
	color:#FFFFFF;
}
.phone-features{

	font-size:25px;
	color:#FFFFFF;
}
.phone-features h4{
	
	font-size:30px;
}
.phone-features ul{
	list-style-position: inside;
	list-style-type: square;
	display: inline-block;
	line-height: 1.7;
    padding-left: 0;
    text-align: left;
    color:#FFFFFF;
    font-size:28px;
}
h4{
	color:#4885ed;
	line-height: 1.8;
	display: inline;
	font-size: 30px;
	margin-right:20px;
}
s{
	color:#6935D1;
}
p{
	margin:0px auto;
}
.phone-features{
	li::before { content: "\2022 " };
}
	
footer p {
  color: #000000;
  font-size: 12px;
  height:100px;
}

footer {
  background-color: #FFFFFF;
  height:80px;
  margin-top: 900px;
  width:100%;
}

.container {
  width: 100%;
  height:100px;
  padding: 10px 0px;
  margin: 0 auto;
  text-align: center;
}
.container p{
	font-size: 20px;
	height:100px;
	color:#FFFFFF;
}
		
      #myBtn {
        position: fixed;
        bottom: 10px;
        float: right;
        right: 9.5%;
        left: 86.25%;
        display: block;
  		color: #FFFFFF;
  		background-color: #236BFC;
  		text-align: center;
  		padding: 0px;
 		text-decoration: none;
  		font-size: 30px;
  		overflow: hidden;
}

    #myBtn:hover {
        background-color: #0000ff;
  		color: #000000;
    }
 